.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    display: flex;
    width: 400px;
    height: 300px;
    border: 2px solid;
    align-items: center;
    padding-left: 20px;
}

.card-body{
padding-left: 20px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.searchBar{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.selectCategory{
    text-align: center;
    padding-bottom: 30px;
}