.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 100px;
}

.card{
    display: flex;
    width: 400px;
    height: 300px;
    border: 2px solid;
    align-items: center;
    padding-left: 20px;
    transition: 0.4s;
}

.card-body{
padding-left: 20px;
}

.card:hover{
    background-color: grey;
    transform: scale(1.1);
    color:aliceblue;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.searchBar{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.selectCategory{
    text-align: center;
    padding-bottom: 30px;
}

.booksDetails{
    text-align: center;
    margin: 50px 100px 50px 100px;
}

.title_book{
    font-size: 64px;
}

.author_details{
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category_details{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}